{% extends "base_generic.html" %}

{% block content %}
  <h1>NTUMED Form Autofiller</h1>
  <p>Input your form data below:</p>

<!-- Autofill Form -->
<div class="container text-center" style="padding-top: 20px;">
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
</div>

<!-- Process Status -->
<div class="container" style="padding-top: 20px;">
	<div class="card" style="height: 120px;">
		{% block progress %}{% endblock progress %}
	</div>
</div>
{% endblock %}