{% extends "base_generic.html" %}

{% block content %}

<div id="surveytitlelogo">
  <table cellspacing="0" style="width:100%;max-width:100%;">
    <tbody>
      <tr>
        <td valign="top">
          <h1 id="surveytitle">NTUMED Form Autofiller教學效果調查表</h1>
        </td>
      </tr>
      <tr sq_id="{}" style="display: table-row;">
        <td class="header toolbar" colspan="3">Input your form data below:</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Autofill Form -->
<div class="container" style="padding-top: 20px;">
  <div class="labelrc greenhighlight" style="padding-top: 20px;">
    <form action="" method="post">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <input type="submit" class="jqbutton nowrap ui-button ui-corner-all ui-widget" style="color:#800000;width:100%;max-width:140px;" value="Submit">
    </form>
  </div>
</div>

<!-- Process Status -->
<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
	<div class="card" style="height: 85px;">
		{% block progress %}{% endblock progress %}
	</div>
</div>
{% endblock %}